* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1b1b32;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: Lato, sans-serif;

}

.title-container{
  width: 100%;
  padding-bottom:25px ;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.freecodecamp-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo {
  max-height: 300px;
  width: 40%;

}

.main-container {
  height: 250px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width: 860px) {
  .App{
    padding: 0;
    
  }

  .main-container{
    height: 50%;
    
    
  }

  .title-container{
    width: 90%;
  }

  .freecodecamp-logo {
    width: 80%;

}


}